// Layout Breakpoint
$tablet-max-width: 768px;
$mobile-max-width: 375px;

// Color
$grey-color: #d9d9d9;
$white-color: #ffffff;
$violet-color: #754ef9;
$shadow-color: #868686;
$black-mask-color: rgba(0, 0, 0, 0.3);