@import '../../styles/variables';

%card-padding {
  padding: 10px;
  box-sizing: border-box;
}

.container {
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;

  .card {
    &-body {
      display: flex;
      flex-flow: column wrap;
      background-color: $white-color;

      .image {
        cursor: pointer;
        width: 100%;
        height: 250px;
        background: url($loading-url) 50% no-repeat;

        @media (max-width: $tablet-breakpoint) {
          height: 200px;
        }

        @media (max-width: $mobile-breakpoint) {
          height: 150px;
        }
      }

      .metadata {
        display: flex;
        flex-flow: row wrap;
        margin-top: 10px;

        .link {
          color: $shadow-color;
        }
      }

      @extend %card-padding;
    }

    &-footer {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      background-color: $light-grey-color;

      .avatar {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        margin-right: 5px;
      }

      .user {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $violet-color;
      }

      @extend %card-padding;
    }
  }
}